body {

   background-image: url(https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  font-family: cursive;
}

h1 {text-align: center;
}


/* background-image: url("~/Downloads/artisanal-food-cheese-cooking-905847.jpg"); */
/* background-color: #698FCD; */
/* linear-gradient(to bottom, #698FCD, #698FCD 50%, #C1617A 50%); */
/* font-family: cursive;
border: 4px solid #000000;
padding: 10px; */
